<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'newstyle.css' %}">
</head>
<header>
  <img src="{% static 'logo.png' %}" alt="Logo" class= "logo-signin">

</header>
<body>
{% block content %}
{% endblock %}

<form method="POST" action="{% url 'signup' %}" style="border:1px solid #ccc">
  <div class="signin container">
    <h1>Sign Up</h1>
    <p>Have an account? <a href="{% url 'signin' %}" style="color: red;">Sign in</a></p>
    
    <p>Please use your university email to create an account.</p>
    <hr>

    {% csrf_token %}
      <div class="form-group">
        {{ form }}
      </div>

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
  
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
</body>
